body {
    margin: 0;
    padding: 0;
    font-family: Tahoma_b;
}

header {
    position: absolute;
    z-index: 1;
    width: 100%;
    color: rgb(42, 92, 199);
    background-color: white;
    transition: 0.5s;
    display: inline-flex;
    opacity: 75%;
}

header:hover {
    border-top: 15px solid rgb(255, 255, 255);
    border-bottom: 15px solid rgb(255, 255, 255);
    transition-duration: 0.5s;
    opacity: 100%;
}

.logo {
    width: 270px;
}

footer {
    color: black;
    padding: 17px;
    background-color: lightslategray;
    font-size: 20px;
    border-top: 1px solid black;
}

.nav {
    text-decoration: none;
    margin-right: 3%;
    transition: 0.3s;
    border: 2px solid rgb(255, 166, 0);
    color: rgb(42, 92, 199);
    border-radius: 10px;
    padding: 5px 10px;
}

.nav_all {
    margin: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
}

.box_1 {
    width: 100%;
    text-align: center;

}

.nav_open {
    color: rgb(2, 14, 105);
    text-decoration: none;
    margin-right: 3%;
    border: 2px solid rgb(84, 21, 0);
    border-radius: 10px;
    transition-property: 0.5s;
    padding: 5px 10px;
    cursor: pointer;
}

.nav:hover{
    color: rgb(2, 14, 105);
    text-decoration: none;
    margin-right: 3%;
    border: 2px solid rgb(84, 21, 0);
    border-radius: 10px;
    transition-duration: 0.5s;
}
